<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Homepage</title>
</head>
<body>
    <h1>Welcome to My Homepage</h1>
    <p>
--- Content of: .\main.py ---
from utils.APITestRunner import APITestRunner

if __name__ == "__main__":
    api_requester = APITestRunner()
    api_requester.run_tests()  # 运行所有测试
    # api_requester.run_tests(test_id=2)  # 仅运行ID为1的测试

--- Content of: .\config\body_defaults.yaml ---
create_user:
  name: "Vick"
  email: "john.doe@example.com"
  address:
    street: "123 Main St"
    city: "Anytown"
    state: "CA"
    zip: "12345"
  phones:
    - type: "home"
      number: "555-555-5555"
    - type: "work"
      number: "{{phones.number}}"
  preferences:
    newsletter: true
    notifications:
      email: true
      sms: false
create_customer:
  name: "ACME Corp."
  contact:
    name: "Jane Doe"
    email: "contact@acme.com"
  address:
    street: "456 Industry Rd"
    city: "Busytown"
    zipcode: "{{address.zipcode}}"



--- Content of: .\config\config.yaml ---
active_environment: development
environments:
  development:
    base_url: "https://vhuang2.free.beeceptor.com"
  production:
    base_url: "https://vhuang1.free.beeceptor.com"

--- Content of: .\config\endpoints.yaml ---
get_user: "/users/{user_id}"
create_user: "/api/users"
create_customer: "/customers"


--- Content of: .\config\headers.yaml ---
default:
  Content-Type: "application/json"
  accept: "application/json"
  Authorization: "{{ token }}"
  test1: "{{ test1 }}"
  test2: "{{ test2 }}"
  user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36"
default2:
  Content-Type: "application/json"
  accept: "application/json"
  Authorization: "{{ token }}"
  test1: "{{ 1.response.name }}"
  test2: "{{ 1.response.phones[0].type }}"
  user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36"

--- Content of: .\config\saved_fields.yaml ---
1.response.name: Vick Huang
1.response.phones[0].type: home
1.response.preferences.notifications.email: true


--- Content of: .\config\body_templates\create_customer.xml ---
<create_customer>
  <name>aaa{{ name }}</name>
  <contact>
    <name>{{ contact.name }}</name>
    <email>{{ contact.email }}</email>
  </contact>
  <address>
    <street>{{ address.street }}</street>
    <city>{{ address.city }}</city>
    <zipcode>{{ address.zipcode }}</zipcode>
  </address>
</create_customer>


--- Content of: .\config\body_templates\create_user.json ---
{
  "name": "{{ name }}",
  "email": "{{ email }}",
  "address": {
    "street": "{{ address.street }}",
    "city": "{{ address.city }}",
    "state": "{{ address.state }}",
    "zip": "{{ address.zip }}"
  },
  "phones": [
    {% for phone in phones %}
    {
      "type": "{{ phone.type }}",
      "number": "{{ phone.number }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "preferences": {
    "newsletter": {{ preferences.newsletter | json_bool }},
    "notifications": {
      "email": {{ preferences.notifications.email | json_bool }},
      "sms": {{ preferences.notifications.sms | json_bool }}
    }
  }
}


--- Content of: .\utils\APITestRunner.py ---
import json
import pandas as pd
from utils.common_utils import CommonUtils
from utils.config_loader import ConfigLoader
from utils.logger import Logger
from utils.request_sender import RequestSender
from utils.request_body_builder import RequestBodyBuilder
from utils.request_headers_builder import RequestHeadersBuilder
from utils.response_handler import ResponseHandler
from utils.saved_fields_manager import SavedFieldsManager
import os

class APITestRunner:
    def __init__(self, config_path='config/config.yaml'):
        # Initialize Logger first to log any errors during initialization
        self.logger = Logger()

        # Load configuration
        self.config = self.load_config(config_path)
        self.active_environment = self.config['environments'][self.config['active_environment']]
        self.base_url = self.active_environment['base_url']

        # Load other configurations
        self.endpoints = self.load_config('config/endpoints.yaml')
        self.headers_config = self.load_config('config/headers.yaml')
        self.body_defaults = self.load_config('config/body_defaults.yaml')
        self.templates = ConfigLoader.load_templates('config/body_templates')
        self.template_dir = 'config/body_templates'
        self.default_headers = self.headers_config['default']

        # Initialize other components
        self.saved_fields_manager = SavedFieldsManager()
        self.body_builder = RequestBodyBuilder(self.template_dir, self.body_defaults, self.templates)
        self.headers_builder = RequestHeadersBuilder(self.headers_config)
        self.response_handler = ResponseHandler(self.logger)

    def run_tests(self, test_cases_path='test_cases/test_cases.xlsx', test_id=None):
        # Load test cases from Excel file
        try:
            test_cases = pd.read_excel(test_cases_path)
            self.logger.log("INFO", f"Successfully loaded test cases from {test_cases_path}")
        except Exception as e:
            self.logger.log("ERROR", f"Failed to load test cases from {test_cases_path}: {str(e)}")
            return

        # Execute each test case
        for index, row in test_cases.iterrows():
            if test_id and row['ID'] != test_id:
                continue
            self.execute_test_case(row, test_cases_path, index)

    def execute_test_case(self, test_case, test_cases_path, row_idx):
        try:
            self.logger.log("INFO", f"Starting execution of test case {test_case['ID']}")

            # Load saved fields
            saved_fields = self.saved_fields_manager.load_saved_fields()
            self.logger.log("INFO", f"Successfully loaded saved fields for test case {test_case['ID']}")

            # Replace placeholders with saved fields
            self.replace_placeholders_with_saved_fields(test_case, saved_fields, ['Body Modifications', 'Expected Result'])
            self.logger.log("INFO", f"Successfully replaced placeholders for test case {test_case['ID']}")

            # Format endpoint
            endpoint = self.get_formatted_endpoint(test_case, saved_fields)
            self.logger.log("INFO", f"Successfully formatted endpoint for test case {test_case['ID']}")

            # Prepare headers
            headers = self.headers_builder.prepare_headers(test_case['Headers'], saved_fields)
            self.logger.log("INFO", f"Successfully prepared headers for test case {test_case['ID']}")

            # Prepare request body
            body, format_type = self.prepare_request_body(test_case)
            self.logger.log("INFO", f"Successfully prepared body for test case {test_case['ID']}")

            # Log request
            method = test_case['Method']
            self.logger.log_request(test_case['ID'], test_case['Endpoint'], method, endpoint, headers, body, format_type)
            self.logger.log("INFO", f"Successfully logged request for test case {test_case['ID']}")

            # Send request and log response
            response = RequestSender.send_request(self.base_url, method, endpoint, headers, body, format_type)
            self.logger.log("INFO", f"Successfully sent request for test case {test_case['ID']}")
            self.logger.log_response(test_case['ID'], test_case['Endpoint'], response, format_type)
            self.logger.log("INFO", f"Successfully logged response for test case {test_case['ID']}")

            # Handle response
            self.response_handler.handle_response(response, test_case, test_cases_path, row_idx)
            self.logger.log("INFO", f"Successfully handled response for test case {test_case['ID']}")

            # Update saved fields
            self.saved_fields_manager.update_saved_fields(response, test_case, self.response_handler.extract_field)
            self.logger.log("INFO", f"Successfully updated saved fields for test case {test_case['ID']}")

            self.logger.log("INFO", f"Finished execution of test case {test_case['ID']}")
            self.logger.log("INFO", f"======================================================================\n")
        except Exception as e:
            self.logger.log("ERROR", f"Failed to execute test case {test_case['ID']}: {str(e)}")

    def get_formatted_endpoint(self, test_case, saved_fields):
        try:
            return self.endpoints[test_case['Endpoint']].format(**json.loads(test_case['Body Modifications']))
        except KeyError as e:
            self.logger.log("ERROR", f"Endpoint not found: {str(e)}")
            raise
        except json.JSONDecodeError as e:
            self.logger.log("ERROR", f"Failed to decode JSON for endpoint formatting: {str(e)}")
            raise

    def prepare_request_body(self, test_case):
        try:
            template_name = test_case['Template Name']
            template_defaults = test_case['Template Defaults']
            body_modifications = json.loads(test_case['Body Modifications'])
            default_values = self.body_defaults.get(template_defaults, {})
            format_type = CommonUtils.get_file_format(self.templates[template_name])
            body = self.body_builder.prepare_body(template_name, default_values, body_modifications, format_type)
            return body, format_type
        except KeyError as e:
            self.logger.log("ERROR", f"Template not found: {str(e)}")
            raise
        except json.JSONDecodeError as e:
            self.logger.log("ERROR", f"Failed to decode JSON for body preparation: {str(e)}")
            raise

    def replace_placeholders_with_saved_fields(self, test_case, saved_fields, columns):
        for key, value in saved_fields.items():
            for column in columns:
                if column in test_case and pd.notna(test_case[column]):
                    lines = test_case[column].splitlines()
                    replaced_lines = [line.replace(f"${{{key}}}", str(value)) for line in lines]
                    test_case[column] = "\n".join(replaced_lines)

    def load_config(self, file_path):
        try:
            return ConfigLoader.load_yaml(file_path)
        except Exception as e:
            self.logger.log("ERROR", f"Failed to load config from {file_path}: {str(e)}")
            raise

# Example usage
if __name__ == "__main__":
    api_requester = APITestRunner()
    api_requester.run_tests()  # Run all tests
    # api_requester.run_tests(test_id=1)  # Run test with ID 1

--- Content of: .\utils\common_utils.py ---
import os

class CommonUtils:
    @staticmethod
    def get_file_format(file_path):
        _, file_extension = os.path.splitext(file_path)
        return file_extension.lower().strip('.')

    @staticmethod
    def format_xml(xml_string):
        from lxml import etree
        parser = etree.XMLParser(remove_blank_text=True)
        xml_element = etree.fromstring(xml_string, parser)
        formatted_xml = etree.tostring(xml_element, pretty_print=False, encoding='unicode')
        return formatted_xml.strip()

--- Content of: .\utils\config_loader.py ---
import yaml
import json
import os


class ConfigLoader:

    @staticmethod
    def load_json(file_path):
        with open(file_path, 'r') as file:
            config = json.load(file)
        return config

    @staticmethod
    def load_yaml(file_path):
        with open(file_path, 'r') as file:
            config = yaml.safe_load(file)
        return config

    @staticmethod
    def load_templates(template_dir):
        templates = {}
        for filename in os.listdir(template_dir):
            if filename.endswith('.json') or filename.endswith('.xml'):
                template_name = os.path.splitext(filename)[0]
                templates[template_name] = os.path.join(template_dir, filename)
        return templates


--- Content of: .\utils\logger.py ---
import json
import os
import time
from datetime import datetime
from utils.common_utils import CommonUtils

class Logger:
    def __init__(self, log_dir='log'):
        self.log_dir = log_dir
        self.log_filename = self.generate_log_filename()
        self.log_filepath = os.path.join(self.log_dir, self.log_filename)
        if not os.path.exists(self.log_dir):
            os.makedirs(self.log_dir)

    def generate_log_filename(self):
        timestamp = int(time.time())
        date_str = datetime.fromtimestamp(timestamp).strftime('%Y-%m-%d_%H-%M-%S')
        return f"log_{date_str}.log"

    def log_request(self, test_id, endpoint_name, method, endpoint, headers, body, format_type):
        timestamp = int(time.time())
        date_str = datetime.fromtimestamp(timestamp).strftime('%Y-%m-%d_%H-%M-%S')
        if format_type == 'json':
            formatted_body = body
        elif format_type == 'xml':
            formatted_body = CommonUtils.format_xml(body)
        log_content1 = {
            "method": method,
            "endpoint": endpoint,
            "headers": headers,
            "body": formatted_body,
            "format_type": format_type
        }
        log_content2 = f"{date_str} [INFO] [Test ID: {test_id}] [Endpoint: {endpoint_name}]: Request:"
        with open(self.log_filepath, 'a') as log_file:
            log_file.write(log_content2 + "\n")
            json.dump(log_content1, log_file, indent=4)
            log_file.write("\n")

    def log_response(self, test_id, endpoint_name, response, format_type):
        timestamp = int(time.time())
        date_str = datetime.fromtimestamp(timestamp).strftime('%Y-%m-%d_%H-%M-%S')
        log_content1 = {
            "response_status_code": response.status_code,
            "response_headers": dict(response.headers),
            "response_body": json.loads(response.text) if format_type == 'json' else response.text
        }
        log_content2 = f"{date_str} [INFO] [Test ID: {test_id}] [Endpoint: {endpoint_name}]: Response:"
        with open(self.log_filepath, 'a') as log_file:
            log_file.write(log_content2 + "\n")
            json.dump(log_content1, log_file, indent=4)
            log_file.write("\n")

    def log(self, level, message):
        timestamp = int(time.time())
        date_str = datetime.fromtimestamp(timestamp).strftime('%Y-%m-%d_%H-%M-%S')
        log_content = f"{date_str} [{level.upper()}]: {message}"
        with open(self.log_filepath, 'a') as log_file:
            log_file.write(log_content + "\n")

# Example usage
if __name__ == "__main__":
    logger = Logger()
    logger.log("INFO", "This is an info message.")
    logger.log("ERROR", "This is an error message.")

--- Content of: .\utils\request_body_builder.py ---
import re
from .variable_generator import VariableGenerator
from .template_renderer import TemplateRenderer

class RequestBodyBuilder:
    def __init__(self, template_dir, body_defaults, templates):
        self.template_dir = template_dir
        self.body_defaults = body_defaults
        self.templates = templates

    def prepare_body(self, template_name, default_values, modifications, format_type):
        template_path = self.templates[template_name]
        # Merge default values and modifications
        body_data = {**self.merge_dynamic_defaults(default_values), **modifications}
        # Generate dynamic values
        dynamic_values = self.generate_dynamic_values(body_data)
        # Merge dynamic values
        body_data = self.merge_data(body_data, dynamic_values)
        return TemplateRenderer.render_template(self.template_dir, template_path, body_data, format_type)

    def merge_dynamic_defaults(self, default_values):
        merged_values = {}
        for key, value in default_values.items():
            if isinstance(value, dict):
                merged_values[key] = self.merge_dynamic_defaults(value)
            elif isinstance(value, str) and re.match(r'\{\{\s*[^}]+?\s*\}\}', value):
                dynamic_key = re.findall(r'\{\{\s*([^}]+?)\s*\}\}', value)[0]
                merged_values[key] = self.process_string(value)
            else:
                merged_values[key] = value
        return merged_values

    def generate_dynamic_values(self, nested_data):
        if isinstance(nested_data, dict):
            for key, value in nested_data.items():
                nested_data[key] = self.generate_dynamic_values(value) if isinstance(value, (dict, list)) else self.process_string(value)
        elif isinstance(nested_data, list):
            return [self.generate_dynamic_values(item) if isinstance(item, (dict, list)) else self.process_string(item) for item in nested_data]
        return nested_data

    def process_string(self, value):
        if isinstance(value, str) and re.match(r'\{\{\s*[^}]+?\s*\}\}', value):
            dynamic_key = re.findall(r'\{\{\s*([^}]+?)\s*\}\}', value)[0]
            return VariableGenerator.generate_dynamic_value(dynamic_key)
        return value

    def merge_data(self, base_data, custom_data):
        for key, value in custom_data.items():
            if key in base_data and isinstance(value, dict) and isinstance(base_data[key], dict):
                base_data[key] = self.merge_data(base_data.get(key, {}), value)
            else:
                base_data[key] = value
        return base_data

--- Content of: .\utils\request_headers_builder.py ---
import re
from .variable_generator import VariableGenerator

class RequestHeadersBuilder:
    def __init__(self, headers_config):
        self.headers_config = headers_config

    def generate_dynamic_value(self, template_string, saved_fields):
        dynamic_key = re.findall(r'\{\{\s*([^}]+?)\s*\}\}', template_string)[0]
        # Check if the dynamic key exists in saved_fields
        if dynamic_key in saved_fields:
            return saved_fields[dynamic_key]
        return VariableGenerator.generate_dynamic_value(dynamic_key)

    def prepare_headers(self, headers_name, saved_fields):
        headers = self.headers_config[headers_name]
        return {k: self.generate_dynamic_value(v, saved_fields) if re.match(r'\{\{\s*[^}]+?\s*\}\}', v) else v for k, v in headers.items()}

--- Content of: .\utils\request_sender.py ---
import requests


class RequestSender:
    @staticmethod
    def send_request(base_url, method, endpoint, headers=None, body=None, format_type='json'):
        url = base_url + endpoint

        if format_type == 'json':
            response = requests.request(method, url, headers=headers, json=body)
        elif format_type == 'xml':
            headers['Content-Type'] = 'application/xml'
            response = requests.request(method, url, headers=headers, data=body)

        return response


--- Content of: .\utils\response_handler.py ---
import json
import re

import pandas as pd
from openpyxl.styles import Font
from openpyxl import load_workbook


class ResponseHandler:
    def __init__(self, logger):
        self.logger = logger

    def handle_response(self, response, test_case, test_cases_path, row_idx):
        actual_status = response.status_code

        # Parse expected fields in 'Expected Result'
        expected_response_lines = test_case['Expected Result'].strip().split('\n')

        actual_response = response.json()

        # Parse fields in 'Fields To Save'
        fields_to_save_lines = test_case['Fields To Save'].strip().split('\n') if pd.notna(
            test_case['Fields To Save']) else []

        # Perform comparison
        results = [self.compare_field(actual_response, expectation) for expectation in expected_response_lines]

        # Parse 'Fields To Save' and save results
        fields_saved_results = [self.extract_field(actual_response, field) for field in fields_to_save_lines]
        # Convert all fields_saved_results items to strings and generate formatted fields saved results
        formatted_fields_saved = '\n'.join(str(field) for field in fields_saved_results)

        # Check if any result is 'fail'
        overall_result = "fail" if any(res['result'] == "fail" for res in results) else "pass"

        # Generate formatted results
        formatted_results = '\n'.join(f"{res['field']}:{res['result']}" for res in results)

        # Write results back to Excel
        self.write_results_to_excel(
            test_cases_path, row_idx + 2, actual_status, formatted_results, overall_result, formatted_fields_saved)

        # Output the result
        print(json.dumps(results, indent=4))
        print(f"The overall result is: {overall_result}.")

    def compare_field(self, actual_response, expectation):
        try:
            field_path, expected_value = expectation.split('=')
        except ValueError:
            print(f"Error: Invalid [Expected Result] format: {expectation}. Expected format is 'field_path=expected_value'.")
            return {
                "field": expectation,
                "result": "error",
                "error": "Invalid [Expected Result] format"
            }
        expected_value = expected_value.strip().strip('""')
        field_path_parts = field_path.split('.')

        if 'response[' in field_path_parts[0]:
            # Check if actual response is an array
            if not isinstance(actual_response, list):
                return {
                    "field": field_path,
                    "result": "fail",
                    "error": "Expected response is an array, but actual response is not."
                }
            is_array_response = True
            match = re.match(r'response\[(\d+)\]', field_path_parts[0])
            array_index = int(match.group(1))
            field_path_parts[0] = 'response'
        else:
            is_array_response = False

        try:
            if is_array_response:
                actual_value = actual_response[array_index]
            else:
                actual_value = actual_response

            for part in field_path_parts[1:]:
                if '[' in part and ']' in part:
                    array_part, index = re.match(r'(.*)\[(\d+)\]', part).groups()
                    actual_value = actual_value[array_part][int(index)]
                else:
                    actual_value = actual_value[part]

            return {
                "field": field_path,
                "result": "pass" if str(actual_value) == expected_value else "fail"
            }
        except (KeyError, IndexError, TypeError):
            return {
                "field": field_path,
                "result": "fail"
            }

    def extract_field(self, actual_response, field_path):
        field_path_parts = field_path.split('.')

        if 'response[' in field_path_parts[0]:
            # Check if actual response is an array
            if not isinstance(actual_response, list):
                return f"{field_path}=null"
            is_array_response = True
            match = re.match(r'response\[(\d+)\]', field_path_parts[0])
            array_index = int(match.group(1))
            field_path_parts[0] = 'response'
        else:
            is_array_response = False

        try:
            if is_array_response:
                actual_value = actual_response[array_index]
            else:
                actual_value = actual_response

            for part in field_path_parts[1:]:
                if '[' in part and ']' in part:
                    array_part, index = re.match(r'(.*)\[(\d+)\]', part).groups()
                    actual_value = actual_value[array_part][int(index)]
                else:
                    actual_value = actual_value[part]

            return f"{field_path}=\"{actual_value}\"" if isinstance(actual_value,
                                                                    str) else f"{field_path}={actual_value}"
        except (KeyError, IndexError, TypeError):
            return f"{field_path}=null"

    def write_results_to_excel(self, file_path, row, actual_status, formatted_results, overall_result,
                               formatted_fields_saved):
        workbook = load_workbook(file_path)
        sheet = workbook.active
        actual_status_cell_index = self.get_column_index_by_name(sheet, "Actual Status")
        actual_result_cell_index = self.get_column_index_by_name(sheet, "Actual Result")
        overall_result_cell_index = self.get_column_index_by_name(sheet, "Overall Result")
        fields_saved_cell_index = self.get_column_index_by_name(sheet, "Fields Saved")

        # Write result to Excel
        sheet.cell(row=row, column=actual_status_cell_index, value=actual_status)  # Update "Actual Status"
        sheet.cell(row=row, column=actual_result_cell_index, value=formatted_results)  # Update "Actual Result"
        overall_cell = sheet.cell(row=row, column=overall_result_cell_index,
                                  value=overall_result)  # Update "Overall Result"
        if overall_result == "pass":
            overall_cell.font = Font(color="00FF00")  # 绿色
        else:
            overall_cell.font = Font(color="FF0000")  # 红色

        # Update "Fields Saved"
        sheet.cell(row=row, column=fields_saved_cell_index, value=formatted_fields_saved)

        # Save workbook
        workbook.save(file_path)

    def get_column_index_by_name(self, sheet, column_name):
        # 从第一行中找到列名对应的列索引
        for col in sheet.iter_cols(1, sheet.max_column):
            if col[0].value == column_name:
                return col[0].column
        return None

    def extract_field(self, actual_response, field_path):
        field_path_parts = field_path.split('.')

        if 'response[' in field_path_parts[0]:
            # Check if actual response is an array
            if not isinstance(actual_response, list):
                return f"{field_path}=null"
            is_array_response = True
            match = re.match(r'response\[(\d+)\]', field_path_parts[0])
            array_index = int(match.group(1))
            field_path_parts[0] = 'response'
        else:
            is_array_response = False

        try:
            if is_array_response:
                actual_value = actual_response[array_index]
            else:
                actual_value = actual_response

            for part in field_path_parts[1:]:
                if '[' in part and ']' in part:
                    array_part, index = re.match(r'(.*)\[(\d+)\]', part).groups()
                    actual_value = actual_value[array_part][int(index)]
                else:
                    actual_value = actual_value[part]

            return actual_value  # Directly return the actual value
        except (KeyError, IndexError, TypeError):
            return None


--- Content of: .\utils\saved_fields_manager.py ---
import yaml
import os
import pandas as pd  # 确保导入以满足 `pd.notna` 的需求

class SavedFieldsManager:
    def __init__(self, file_path='config/saved_fields.yaml'):
        self.file_path = file_path

    def load_saved_fields(self):
        if os.path.exists(self.file_path):
            with open(self.file_path, 'r') as f:
                saved_fields = yaml.safe_load(f)
                if saved_fields is None:
                    return {}
                return saved_fields
        return {}

    def save_fields(self, field_data):
        saved_fields = self.load_saved_fields()
        saved_fields.update(field_data)
        with open(self.file_path, 'w') as f:
            yaml.dump(saved_fields, f)

    def update_saved_fields(self, response, test_case, extract_field):
        fields_to_save = test_case['Fields To Save'].strip().split('\n') if pd.notna(
            test_case['Fields To Save']) else []
        actual_response = response.json()

        field_data = {}
        for field in fields_to_save:
            value = extract_field(actual_response, field)
            field_data[f"{test_case['ID']}.{field}"] = value
        self.save_fields(field_data)

--- Content of: .\utils\template_renderer.py ---
import os
from jinja2 import Environment, FileSystemLoader
import json


class TemplateRenderer:

    @staticmethod
    def render_template(template_dir, template_path, modifications, format_type):
        try:
            env = Environment(loader=FileSystemLoader(template_dir))
            env.filters['json_bool'] = lambda value: str(value).lower()
            template = env.get_template(os.path.basename(template_path))
            rendered_body = template.render(modifications)
            if format_type == 'json':
                return json.loads(rendered_body)
            elif format_type == 'xml':
                return rendered_body  # XML保持字符串格式
        except Exception as e:
            print(f"An unexpected error occurred while rendering template: {str(e)}")
        return None


--- Content of: .\utils\variable_generator.py ---
import uuid


class VariableGenerator:
    @staticmethod
    def generate_dynamic_value(field_name, saved_fields=None):
        # Determine if the dynamic key exists in saved_fields
        if saved_fields and field_name in saved_fields:
            return saved_fields[field_name]

        # Generate value based on field name
        if field_name == 'user_id':
            return 1  # Example value, actual implementation should generate dynamically as needed
        elif field_name == 'name':
            return 'Dynamic Name'
        elif field_name == 'email':
            return 'dynamic@example.com'
        elif field_name == 'age':
            return 25
        elif field_name == 'address.street':
            return 'Dynamic Street'
        elif field_name == 'phones.number':
            return '5511539'
        elif field_name == 'address.zipcode':
            return '00000'
        elif field_name == 'token':
            return str(uuid.uuid4())  # Example token
        elif field_name == 'test1':
            return 'Dynamic Test1'
        elif field_name == 'test2':
            return 'Dynamic Test2'
        else:
            return f'dynamic_{field_name}'

--- Content of: .\utils\__init__.py ---

</p>
</body>
</html>
